!!! 5
html
    head
        title Example
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
        style(type="text/css")
            .err
            {
                color: red;
            }

            .signup-field input
            {
                display: block;
            }

            #chatwindow
            {
                overflow: auto;
                height: 200px;
                width: 350px;
                border: 1px black solid;
            }
        <link type="text/css" rel="stylesheet" href="/styles/main.css"/>
        

    body
        div!= body