script(type="text/javascript", src="/scripts/im.js")
script(type="text/javascript")
    $(document).ready(function() {
        setupSockets('#{username}');
    });

h1!=username
p(id='chatwindow')
    - each message in recent
      strong
          !=message.from
          |:
      !=message.message
      br
p Add Buddy: 
    input#new-buddy
    input(type="button", id="button-add-buddy", value="Add")


p Message:
    input(id="message-box")
p
    input(type="button", id="button-send", value="send")

p
    a(href="/logout") logout

div
    fieldset.buddylist
        div.online.list online
            - each buddy in onlineBuddies
              div!=buddy
        div.offline.list offline
            - each buddy in offlineBuddies
              div(id='buddy_' + buddy) #{buddy}