script(type="text/javascript")
    $(document).ready(function() {
        var socket = io.connect('');

        socket.on('chat', function(data) {
            $("#chatwindow").append('<strong>' + data.from + "</strong>: " + data.message + '<br />');
        });

        $('#button-send').click(function () {
            $("#chatwindow").append('<strong>me</strong>: ' + $('#message-box').val() + '<br />');
            socket.emit('message', { to: $('#to').val(), message: $('#message-box').val() });
        });
    });

div#buddies
    select#select-buddy(name="buddylist")
    - each buddy in buddies
        option!=buddy

p(id='chatwindow')
    - each message in recent
      strong
          !=message.from
          |:
      !=message.message
      br
p To: 
    input#to
p Message:
    input(id="message-box")
p
    input(type="button", id="button-send", value="send")

p
    a(href="/logout") logout