script(type="text/javascript")
    $(document).ready(function() {
        var socket = io.connect('');

        socket.on('chat', function(data) {
            $("#chatwindow").append('<strong>' + data.from + "</strong>: " + data.message + '<br />');
        });

        $('#button-send').click(function () {
            $("#chatwindow").append('<strong>me</strong>: ' + $('#message-box').val() + '<br />');
            socket.emit('message', { to: $('#to').val(), message: $('#message-box').val() });
        });
    });

p(id='chatwindow')
p
    input#to
p
    input(id="message-box")
p
    input(type="button", id="button-send", value="send")

p
    a(href="/logout") logout