script(type="text/javascript")
    $(document).ready(function() {
        var socket = io.connect('');

        socket.on('chat', function(data) {
            $("#chatwindow").append('<strong>' + data.from + "</strong>: " + data.message + '<br />');
        });

        $('#button-send').click(function () {
            $("#chatwindow").append('<strong>#{username}</strong>: ' + $('#message-box').val() + '<br />');
            socket.emit('message', { to: $('#select-buddy').val(), message: $('#message-box').val() });
            $('#message-box').val('');
        });

        $('#select-buddy').change(function() {
            $.getJSON('/home/getRecentHistory/' + $(this).val(), function(data) {
                $('#chatwindow').html('');
                data.forEach(function(obj) {
                    $('#chatwindow').append('<strong>' + obj.from + ':</strong> ' + obj.message + '<br />');
                });
            });
        });

        $('#button-add-buddy').click(function() {
            var buddy = $('#new-buddy').val();

            $.post('/home/addBuddy/' + buddy, function(data) {
                if (data.success == true)
                {
                    $('#select-buddy').append('<option>' + buddy + '</option>')
                }
            });
        });
    });



p(id='chatwindow')
    - each message in recent
      strong
          !=message.from
          |:
      !=message.message
      br
p Add Buddy: 
    input#new-buddy
    input(type="button", id="button-add-buddy", value="Add")

p To: 
    select#select-buddy(name="buddylist")
      option
      - each buddy in buddies
        option!=buddy
p Message:
    input(id="message-box")
p
    input(type="button", id="button-send", value="send")

p
    a(href="/logout") logout