p Signup
div.signup-field
    label username
    input.required(type="text", name="user[firstname]")

div.signup-field
    label password
    input.required(type="password", name="user[password]")

input#button-signup(type="button", value="Signup")